version: '3.8'

services:
  app:
    build: .
    ports:
      - '3000:3000'
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DB_DATABASE=crud_db
      - JWT_SECRET=supersecretkey
    depends_on:
      - db
    volumes:
      - ./uploads:/usr/src/app/uploads

  db:
    image: postgres:15-alpine
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=crud_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
